@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  overflow: hidden;
  height: 100%;
  margin: 0;
}

.flip-vh {
  transform-style: preserve-3d;
  transition: transform 0.8s;
  transform: rotateY(360deg);
}
